@import "../../index.scss";

.navbar{
    background:$mainBlack; 
    display: grid;
    padding: 0.5rem, 1rem;
    grid-template-columns: auto 1fr;

    
}
.logo{
    border-radius: 50%;
}

.nav-links{
    display: grid;
    list-style-type: none;
    text-align: center;
    align-self: center;
    grid-template-columns: repeat(3, 1fr);
}
img{
   
    background: #fff;
    margin-left: 20px;
    margin-top:20px;
    margin-bottom: 20px;    
}

.nav-link{
    color:$mainGrey;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1.2rem;
    transition: all 0.3s linear;
    &:hover{
        color: $mainGreen;
    }
}

.active {
    color: $mainGreen;
}
